{% extends 'base.html' %}
{% load  staticfiles %}
{% block title_block %} Home {% endblock %}
{% block body_block %}

        <section id="banner">
          <br><br><br><br>
          <div class="banner-container d-flex  justify-content-center aligm-item-center text-right">
            <div class="banner-contents ">
              <h1 class="font-weight-bolder  mb-5">Department of Cardiology</h1>
            
              <p style="width:600px;border-radius:5px;  font-size: 1.8rem;color:white;background:rgba(0, 0, 37, 0.4);padding:10px;">

                Best medical and healthcare needs to our patients for cardiology departments,
                so we are trying to arrange a online base health care system for our patients...
              </p>
              <button class="btn col-md-12 text-light mt-5  btn-lg btn-dark" style="font-size: 2rem; width:auto"
                onclick="location.href='appointment.html' ">Request an appointment</button>
            </div>
          </div>
        </section>
      </section>
    </header>



    <main style="background-color: rgb(152, 155, 155);">
      <!--about section starts===================================================-->
      <section class=" text-center text-dark">
        <div>
          <h1 class="font-weight-bolder  ">About Us </h1>

          <p class="mt-5">
            The department of cardiology at <b>Grand Mark Hospital</b> was established under the leadership of<b>
              <br>
              Prof. Sujoy

              <br>
              B. Roy
            </b>
            <br>
            The department has been devloped excellent facilities
            For clinical and has fully developed facilities for adult and padiatric interventionsvalvuloplasty.
            <br>1.Highest Quality of care,Congential heart disease and oither rare heart conditions
            <br>2.A legacy of excellence in patient caretLatest medications and interventional heart disease
            procedures.
            <br>3.Our Ambulatory system,
            Professional Manner of treatment &better heart care.
          </p>
        </div>
      </section>

      <!--about section ends=====================================================-->



      <!--experts section starts===================================================-->
      <section id="doctors" style="background-color: rgb(151, 157, 158);">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Meet Our Specialists</h2>
              <div class="card-deck">
                <div class="card">
                  <img src="Images/dc1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                      Dr.Mike
                    </h5>
                    <p class="card-text"> Speciality: Cardiology<br> Degree: DGO , FCPS ( Cardiology)<br>
                      Visiting Day: Saturday - Friday<br> Visiting Hour: 5 PM <br> Room No: 422 <br>For Appointment:
                      031******<br></p>

                    <button class="buy-now-button">Appointment </button>
                  </div>
                </div>
                <div class="card">
                  <img src="images/dc1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Dr.Nick</h5>
                    <p class="card-text">Speciality Cardiology<br> Degree: DGO , FCPS ( Cardiology)<br>
                      Visiting Day: Saturday - Friday<br> Visiting Hour: 5 PM <br> Room No: 422 <br>For Appointment:
                      031******<br></p>

                    <button class="buy-now-button">Appointment </button>
                  </div>
                </div>
                <div class="card">
                  <img src="images/dc1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Dr.Alfred</h5>
                    <p class="card-text"> Speciality: Cardiology<br> Degree: DGO , FCPS ( Cardiology)<br>
                      Visiting Day: Saturday - Friday<br> Visiting Hour: 5 PM <br> Room No: 422 <br>For Appointment:
                      031******<br></p>

                    <button class="buy-now-button">Appointment</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--experts section ends======================================================-->


      <!--Service section starts======================================================-->

      <section>
        <h1 class="mt-5 text-center">Services</h1>

        <div class="row mt-5">
          <div class="col-lg-4">
            <h4 class="ml-3">Hospital Services</h4>
            <br>
            <ul>
              <li>Out Patient Door(OPD)</li>
              <li>Emergency Care</li>
              <li>Intence Care Unit</li>
              <li>High Dependency Unit</li>
              <li>Coronary Care Unit</li>
              <li>Post Coronary Care Unit(PCCU)</li>
              <li>Pediatric Intensive Care Unit(PICU)</li>
              <li>
                Operation Theatre
              </li>
              <li>
                Post Opearation Theatre
              </li>
              <li>Labour Observation Unit</li>
              <li>Baby Care</li>
            </ul>
          </div>
          
          <div class="col-lg-4">
            <h4 class="service-heading ">Diagnostic Services</h4>
            <br>
            <ul>
              <li>Biochemistry</li>
              <li>Hormone Test</li>
              <li>Pathology</li>
              <li>Microbiology</li>
              <li>Serology</li>
              <li>Cytopathology</li>
              <li>Histopathology</li>
              <li>
                Immunology
              </li>
              <li>
                Unflowmetry
              </li>
              <li>Temporary Pacemakers</li>
              <li>Cath Lab</li>
              <li>Magnetic Resonance Imaging(MRI)</li>
              <li>Ultrasnography</li>
              <li>Endoscopy</li>
              <li>ECG</li>
              <li>ETT</li>
              <li>CT-Scan</li>
              <li>X-Ray</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h4 class="ml-3 ">Others</h4>
            <br>
            <ul>
              <li>Pharmacy</li>
              <li>Infertility Center</li>
              <li>Doctor's Chamber
              </li>
              <li>Food-Corner</li>
              <br>
            </ul>
          </div>
        </div>
      </section>
      <!--Service section ends======================================================-->
    </main>

{% endblock %}